# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Roll a Ball.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Aplicaciones\Unity\Roll a Ball\.idea\.idea.Roll a Ball.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
